@use "../global/variables";

.catalog__item {
  margin-bottom: 30px;
}

.catalog__header {
  margin-bottom: 30px;
}

.catalog__production {
  margin-bottom: 58px;
}

@media (min-width: variables.$min-tablet-width) {
  .catalog__header {
    position: relative;
    margin-bottom: 79px;
    padding-top: 101px;

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      display: block;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-features.png");
      background-repeat: repeat-x;
      z-index: 1;
    }
  }

  .catalog__production {
    margin-bottom: 64px;
  }

  .catalog__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 54px;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .catalog__header {
    margin-bottom: 130px;
    padding-bottom: 94px;
  }

  .catalog__production {
    margin-bottom: 100px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 52px;
  }

  .catalog__item {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}
