@use "../global/variables";

@media (min-width: variables.$min-tablet-width) {
  .catalog__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 52px;
  }

  .catalog__item {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
  }
}
