@use "../global/variables";

.content__header {
  margin-bottom: 31px;
  padding: 72px 0 0;
  background-color: variables.$main-background-color;
  background-image: url("../img/hero-mobile.jpg");
  background-position: 50% -20px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile-2x.jpg");
  }
}

.content__title {
  margin-bottom: 120px;
  padding: 0 30px;
}

.content__advantages {
  margin-bottom: 58px;
}

.content__offers {
  margin-bottom: 73px;
}

.content__feedback {
  margin-bottom: 90px;
}

.content__contacts {
  margin-bottom: 40px;
}

@media (min-width: variables.$min-tablet-width) {
  .content__title {
    margin-bottom: 372px;
  }

  .content__header {
    margin-bottom: 55px;
    padding-top: 154px;
    background-image: url("../img/hero-tablet.jpg");
    background-size: cover;
    background-position-y: 0;
  }

  .content__header-features {
    margin: 0 auto;
  }

  .content__advantages {
    margin-bottom: 82px;
  }

  .content__offers {
    margin-bottom: 125px;
  }

  .content__feedback {
    margin-bottom: 153px;
  }

  .content__contacts {
    margin-bottom: 57px;
  }

  @media (min-resolution: 2dppx) {
    .content__header {
      background-image: url("../img/hero-tablet-2x.jpg");
    }
  }
}

@media (min-width: variables.$min-desktop-width) {
  .content__title {
    margin-bottom: 355px;
  }

  .content__header {
    margin-bottom: 71px;
    padding-top: 157px;
    background-image: url("../img/hero-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop-2x.jpg");
    }
  }

  .content__advantages {
    margin-bottom: 90px;
  }

  .content__offers {
    margin-bottom: 164px;
  }

  .content__feedback {
    margin-bottom: 160px;
  }

  .content__contacts {
    margin-bottom: 105px;
  }
}
