@use "../global/variables";

.content {
  padding-top: 80px;
}

.content__header {
  padding: 74px 0 0;
  background-color: variables.$main-background-color;
  background-image: url("../../img/hero-bears-in-house.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.content__title {
  margin-bottom: 120px;
}

@media (min-width: variables.$min-tablet-width) {
  .content__title {
    margin-bottom: 372px;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .content__title {
    margin-bottom: 355px;
  }
}
