@use "../global/variables";

.content__header {
  margin-bottom: 31px;
  padding: 74px 0 0;
  background-color: variables.$main-background-color;
  background-image: url("../../img/hero-mobile.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.content__title {
  margin-bottom: 120px;
}

@media (min-width: variables.$min-tablet-width) {
  .content__title {
    margin-bottom: 372px;
  }

  .content__header {
    margin-bottom: 52px;
    background-image: url("../../img/hero-tablet.png");
  }
}

@media (min-width: variables.$min-desktop-width) {
  .content__title {
    margin-bottom: 355px;
  }

  .content__header {
    margin-bottom: 71px;
    background-image: url("../../img/hero-desktop.png");
  }
}
