@use "../global/variables";

.developed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developed__title {
  margin-right: 27px;
  font-size: 19px;
  line-height: 18px;
}

.developed__link {
  display: flex;

  svg {
    fill: variables.$primary-light;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .developed__link svg {
    &:hover {
      fill: variables.$primary-extra-dark;
    }

    &:active {
      fill: variables.$primary-extra-dark;
      opacity: 0.3;
    }
  }
}
