@use "../global/variables";

.heading {
  margin: 0;
  color: variables.$black;

  &--h1 {
    font-size: 27px;
    line-height: 30px;
  }

  &--h2 {
    font-size: 25px;
    line-height: 30px;
  }

  &--h3 {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: variables.$min-tablet-width) {
  .heading {
    &--h1 {
      font-size: 43px;
      line-height: 50px;
    }
  }
}

@media (min-width: variables.$min-desktop-width) {
  .heading {
    &--h1 {
      font-size: 53px;
      line-height: 57px;
    }
  }
}
