@use "../global/variables";

.modal {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  inset: 0 0 0 0;
  z-index: 10;
}

.modal__box {
  position: relative;
  top: 20%;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 28px 30px 46px;
  flex-direction: column;
  border: 1px solid variables.$line-modal;
  background-color: variables.$white;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal__title {
  margin-bottom: 14px;
  color: variables.$black;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.modal__subtitle {
  margin-bottom: 21px;
  line-height: 30px;
  text-align: center;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    content: "";
    background-color: variables.$primary-extra-dark;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    content: "";
    background-color: variables.$primary-extra-dark;
    transform: rotate(-45deg);
  }
}

@media (min-width: variables.$min-tablet-width) {
  .modal__box {
    width: 566px;
  }
}
