@use "../global/variables";

.navigation__list {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  flex-basis: auto;
  flex-shrink: 0;
}

.navigation__item {
  display: flex;
  background-color: variables.$white;
  border-top: 1px solid variables.$line-color;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 29px 65px 27px 76px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: variables.$black;
}

.navigation__link:hover svg {
  fill: variables.$primary-light;
  opacity: 1;
}

.navigation__link:active svg {
  fill: variables.$primary-light;
  opacity: 0.3;
}

.navigation__link-icon {
  position: absolute;
  left: 30px;
  fill: variables.$black;
  opacity: 0.2;
}

@media (min-width: variables.$min-tablet-width) {
  .navigation {
    max-width: 668px;
  }

  .navigation__list {
    flex-direction: row;
  }

  .navigation__item {
    height: 89px;
    background-color: transparent;
    border: none;
  }

  .navigation__link {
    display: flex;
    padding: 0;
    align-items: center;
    font-size: 15px;
  }

  .navigation__link-icon {
    position: static;

    &--cart {
      margin-right: 30px;
    }
  }
}

@media (min-width: variables.$min-desktop-width) {
  .navigation {
    max-width: 1050px;
  }

  .navigation__list {
    flex-basis: 50%;
  }

  .navigation__link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
