@use "../global/mixins";
@use "../global/variables";

.offers {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -42px;
    display: block;
    width: 100%;
    height: 6px;
    background-image: url("../../img/zigzag.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 1;
  }
}

.offers__container {
  display: grid;
  grid-template-areas: "title" "subtitle" "description" "details-list" "image" "price" "order";
}

.offers__description {
  grid-area: description;
  margin: 0 0 17px;
}

.offers__details-list {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-area: details-list;
  margin: 0 0 28px;
  line-height: 20px;
}

.offers__details-title,
.offers__details-value {
  padding: 10px 0;
  border-bottom: 1px solid variables.$line-color;
}

.offers__details-value {
  margin-left: 0;
}

.offers__image-container {
  grid-area: image;
  margin-bottom: 25px;
}

.offers__image {
  width: 100%;
}

.offers__order-button {
  grid-area: order;
  padding: 14px 26px;
}

.offers__price {
  grid-area: price;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}

.offers__title {
  grid-area: title;
  margin-bottom: 4px;
  white-space: nowrap;
  z-index: 1;
}

.offers__subtitle {
  grid-area: subtitle;
  margin-bottom: 18px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: variables.$primary-light;
  line-height: 20px;
}

@media (min-width: variables.$min-tablet-width) {
  .offers {
    &::before {
      content: "";
      position: absolute;
      top: -65px;
      display: block;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-features.png");
      background-repeat: repeat-x;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -69px;
      left: 0;
      display: block;
      width: 100%;
      height: 17px;
      background-image: url("../../img/zigzag.png");
      background-repeat: repeat-x;
      z-index: 1;
    }
  }

  .offers__container {
    grid-template-areas: "title title" "description image" "details-list image" "price image" "order image";
    grid-template-columns: 1fr 1fr;
  }

  .offers__title {
    margin-bottom: 38px;
  }

  .offers__subtitle {
    position: absolute;
    top: 5px;
    right: 23px;
    width: 80px;
    line-height: 17px;
    text-align: center;
  }

  .offers__description {
    margin: 0 42px 37px 0;
    font-size: 17px;
    line-height: 30px;
  }

  .offers__image-container {
    margin-bottom: 0;
    padding-top: 12px;
  }

  .offers__image {
    width: 100%;
  }

  .offers__details-list {
    margin: 0 42px 57px 0;
  }

  .offers__details-title,
  .offers__details-value {
    padding: 10px 0;
  }

  .offers__price {
    margin: 0 42px 33px 0;
    font-size: 20px;
  }

  .offers__order-button {
    margin-right: 42px;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .offers {
    &::before {
      top: -85px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -96px;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 1050px;
      height: 23px;
      background-image: url("../../img/zigzag.png");
      background-repeat: repeat-x;
      transform: translateX(-50%);
      background-position-x: 9px;
      z-index: 1;
    }
  }

  .offers__container {
    grid-template-areas: ". title image" ". description image" ". details-list image" ". price image" ". order image";
    grid-template-columns: 175px 350px 50%;
  }

  .offers__title {
    margin-bottom: 35px;
    padding-top: 63px;
  }

  .offers__subtitle {
    top: 71px;
    left: 42px;
  }

  .offers__image-container {
    padding-top: 0;
  }

  .offers__description {
    margin-right: 58px;
    margin-bottom: 50px;
  }

  .offers__details-list {
    margin-right: 58px;
    margin-bottom: 110px;
  }

  .offers__price {
    margin-right: 58px;
  }

  .offers__order-button {
    margin-right: 58px;
  }
}
