@use "../global/mixins";
@use "../global/variables";

.offers {
  position: relative;
  margin-bottom: 36px;
}

.offers__container {
  display: grid;
  grid-template-areas: "title" "subtitle" "description" "details-list" "image" "price" "order";
}

.offers__description {
  grid-area: description;
}

.offers__details-list {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-area: details-list;
  padding-bottom: 20px;
  line-height: 20px;
}

.offers__details-title,
.offers__details-value {
  padding: 15px 0;
  border-bottom: 1px solid variables.$line-color;
}

.offers__details-value {
  margin-left: 0;
}

.offers__image {
  grid-area: image;
}

.offers__order-button {
  grid-area: order;
  padding: 16px 70px;
}

.offers__price {
  grid-area: price;
  padding: 25px 83px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

.offers__title {
  grid-area: title;
}

.offers__subtitle {
  grid-area: subtitle;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: variables.$primary-light;
  line-height: 20px;
}

@media (min-width: variables.$min-tablet-width) {
  .offers__container {
    grid-template-areas: "title title" "description image" "details-list image" "price image" "order image";
    grid-template-columns: 1fr 1fr;
  }

  .offers__subtitle {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .offers__container {
    grid-template-areas: ". title image" ". description image" ". details-list image" ". price image" ". order image";
    grid-template-columns: 175px 350px 50%;
  }

  .offers__subtitle {
    left: 0;
    right: auto;
  }
}
