@use "../global/variables";

.page-footer {
  padding: 25px 0;
  background-color: variables.$main-background-color;
}

.page-footer__logo-footer {
  display: none;
}

@media (min-width: variables.$min-tablet-width) {
  .page-footer {
    padding: 51px 0 58px;
  }

  .page-footer__logo-footer {
    display: block;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
}
