@use "../global/variables";

.page-header {
  position: relative;
  width: 100%;
}

.page-header--nojs {
  position: relative;
}

.page-header--nojs .page-header__navigation-toggle {
  display: none;
}

.page-header__delivery {
  display: none;
}

.page-header__logo-wrapper {
  position: relative;
  padding: 22px;
  text-align: center;
}

.page-header__logo-image {
  vertical-align: top;
}

.page-header__navigation-toggle {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

.page-header__promo-navigation {
  display: none;
}

@media (min-width: variables.$min-tablet-width) {
  .page-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page-header__delivery {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .page-header__navigation {
    display: grid;
    grid-template-columns: 1fr max-content;
  }

  .page-header__navigation-toggle {
    display: none;
  }

  .page-header__site-navigation {
    display: flex;
    grid-row: 2;
    white-space: nowrap;
  }

  .page-header__user-navigation {
    display: flex;
    grid-column: 2;
    white-space: nowrap;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .page-header__delivery {
    grid-column: 3;
  }

  .page-header__navigation {
    grid-template-columns: auto 1fr auto;
  }

  .page-header__promo-navigation {
    display: flex;
  }

  .page-header__site-navigation {
    grid-column: 1;
    grid-row: 1;
  }

  .page-header__user-navigation {
    grid-column: 3;
    grid-row: 1;
  }
}
