@use "../global/variables";

.page-header {
  position: relative;
  width: 100%;
}

.page-header__navigation {
  position: relative;
  width: 100%;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;

  &--open {
    .page-header__navigation-wrapper {
      visibility: visible;
    }
  }
}

.page-header__navigation-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  visibility: hidden;
}

.page-header__navigation-toggle {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.page-header__delivery {
  display: none;
  margin: 0;
}

.page-header__logo-wrapper {
  position: relative;
  padding: 22px;
  text-align: center;
}

.page-header__logo-image {
  vertical-align: top;
}

.page-header__promo-navigation {
  display: none;
}

@media (min-width: variables.$min-tablet-width) {
  .page-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 89px;
  }

  .page-header__navigation {
    flex-direction: row;
    max-height: 89px;
  }

  .page-header__logo-wrapper {
    position: absolute;
    padding: 20px 0;
  }

  .page-header__navigation-wrapper {
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    visibility: visible;
  }

  .page-header__navigation-toggle {
    display: none;
  }

  .page-header__user-navigation {
    order: -1;
    justify-content: flex-end;
    flex-basis: 100%;
  }

  .page-header__delivery {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .page-header__logo-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  .page-header__navigation-wrapper {
    justify-content: space-between;
  }

  .page-header__user-navigation {
    order: 0;
    flex-basis: auto;
    margin-right: 2px;
  }

  .page-header__promo-navigation {
    display: flex;
  }
}
