@use "../global/variables";

.page {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: variables.$dark-gray;
}

.page__body {
  margin: 0;
  padding: 0;
  background-color: variables.$white;
}
