@use "../global/variables";

.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: variables.$dark-gray;
}

.page__body {
  margin: 0;
  padding: 0;
  background-color: variables.$white;
}

.page__order {
  margin-bottom: 55px;
}

@media (min-width: variables.$min-desktop-width) {
  .page__order {
    margin-bottom: 46px;
  }
}
