@use "../global/variables";

.production__container {
  display: grid;
  border: 1px solid variables.$line-color;
}

.production__wrapper {
  padding: 35px 29px 33px 34px;
}

.production__description {
  margin: 0 0 41px;
  font-size: 13px;
}

.production__title {
  position: relative;
  padding: 22px 13px 26px 91px;

  &::before {
    position: absolute;
    top: 35px;
    left: 34px;
    width: 32px;
    height: 22px;
    background-image: url("../../img/icon-video.svg");
    background-repeat: no-repeat;
    content: "";
  }
}

.production__image {
  width: 100%;
}

.production__button {
  padding: 14px 10px;
  width: 100%;
}

@media (min-width: variables.$min-tablet-width) {
  .production__description {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__image-container {
    grid-row: 1;
  }

  .production__title {
    margin-bottom: 25px;
    padding: 38px 0 0 107px;

    &::before {
      top: 36px;
      left: 42px;
    }
  }

  .production__wrapper {
    padding: 0 42px 45px 42px;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .production__container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 52px;
  }

  .production__wrapper {
    padding: 20px 57px 26px 25px;
  }

  .production__title {
    padding: 93px 50px 0 28px;
    margin-bottom: 7px;

    &::before {
      top: 44px;
      left: 27px;
    }
  }

  .production__image-container {
    grid-column: 1/3;
    grid-row: 1/4;
  }

  .production__description,
  .production__button {
    grid-column: 3;
  }

  .production__description {
    margin-bottom: 52px;
  }
}
