@use "../global/variables";

@media (min-width: variables.$min-desktop-width) {
  .promo-navigation__item {
    height: auto;
    margin-right: 63px;
    padding: 18px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .promo-navigation__link {
    font-size: 15px;
  }
}
