@use "../global/variables";

.site-navigation__link {
  flex-grow: 1;
}

@media (min-width: variables.$min-tablet-width) {
  .site-navigation__item {
    height: auto;
    margin-left: 35px;
    padding: 22px 0;

    &:first-child {
      margin-left: 0;
    }
  }
}

@media (min-width: variables.$min-desktop-width) {
  .site-navigation__item {
    margin: 0;
    padding: 0;

    &:first-child .site-navigation__link {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .site-navigation__link {
    padding: 0 35px;
  }
}
