@use "../global/variables";

.slider__buttons {
  display: flex;
}

.slider__button {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  margin: 0;
  padding: 13px;
  border: 1px solid variables.$light-gray;

  &:first-child {
    border-right: none;
  }
}

@media (min-width: variables.$min-tablet-width) {
  .slider__buttons {
    bottom: 26px;
  }

  .slider__button {
    padding: 0 18px;
    border: none;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .slider__buttons {
    bottom: 75px;
  }

  .slider__button {
    &:hover {
      background-color: transparent;
      opacity: 0.6;
    }

    &:active {
      background-color: transparent;
      opacity: 0.3;
    }
  }
}
