@use "../global/variables";

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  display: flex;
  gap: 29px;
}

.social__link {
  svg {
    fill: variables.$icon-color;
  }
}

@media (min-width: variables.$min-desktop-width) {
  .social__link svg {
    &:hover {
      fill: variables.$primary-extra-dark;
    }

    &:active {
      fill: variables.$primary-extra-dark;
      opacity: 0.3;
    }
  }
}
