@use "../global/variables";

@media (min-width: variables.$min-tablet-width) {
  .user-navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .user-navigation__item {
    padding: 30px 35px 30px 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}
