@use "../global/variables";

.user-navigation__link {
  flex-grow: 1;
}

@media (min-width: variables.$min-tablet-width) {
  .user-navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .user-navigation__item {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .user-navigation__link {
    padding: 0 32px;

    &--cart {
      padding-right: 0;
    }
  }
}
