$white: #ffffff;
$black: #000000;
$main-background-color: #f1f1f1;
$timberwolf: #dbd7d2;
$primary-light: #63d1bb;
$primary-extra-light: #59d5bc;
$primary-dark: #56c3b2;
$primary-extra-dark: #46c1ae;
$secondary: #149080;
$dark-gray: #444444;
$light-gray: #e5e5e5;
$icon-color: #231f20;
$line-color: #ececec;
$line-color-secondary: #62d1ba;

$min-mobile-width: 320px;
$min-tablet-width: 768px;
$min-desktop-width: 1150px;
