.features {
  &__item {
    background-color: $primary-light;

    &:nth-child(2n) {
      background-color: $primary-dark;
    }
  }

  &__link {
    font-size: 19px;
    line-height: 24px;
    color: $white;
  }
}
