@use "variables";

.features__item {
  background-color: variables.$primary-light;
}

.features__item:nth-child(2n) {
  background-color: variables.$primary-dark;
}

.features__link {
  font-size: 19px;
  line-height: 24px;
  color: variables.$white;
}
