.features__item {
  background-color: $primary-light;
}

.features__item:nth-child(2n) {
  background-color: $primary-dark;
}

.features__link {
  font-size: 19px;
  line-height: 24px;
  color: $white;
}
