@use "variables";

.heading {
  margin: 0;
  color: variables.$black;
}

.heading--h1 {
  font-size: 27px;
  line-height: 30px;
}

.heading--h2 {
  font-size: 25px;
  line-height: 30px;
}

.heading--h3 {
  font-size: 17px;
  line-height: 24px;
}
