.offers {
  @include section-inner-space;
}

.offers__details-list {
  line-height: 20px;
}

.offers__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.offers__subtitle {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-light;
  line-height: 20px;
}
