// utils
@use "global/fonts";
@use "global/utils";
// common
@use "blocks/page";
@use "blocks/heading";
@use "blocks/hero";
@use "blocks/link";
@use "blocks/button";
@use "blocks/section";
// blocks
@use "blocks/advantages";
@use "blocks/catalog";
@use "blocks/contacts";
@use "blocks/content";
@use "blocks/developed";
@use "blocks/divider";
@use "blocks/features";
@use "blocks/feedback";
@use "blocks/form";
@use "blocks/navigation";
@use "blocks/offers";
@use "blocks/order";
@use "blocks/page-footer";
@use "blocks/page-header";
@use "blocks/product";
@use "blocks/production";
@use "blocks/site-navigation";
@use "blocks/slider";
@use "blocks/social";
@use "blocks/user-navigation";
@use "blocks/user-quote";
@use "blocks/modal";
